.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 960px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  width: 380px;
  margin: 31px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 31px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 254px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(191, 121, 92) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 254px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 68px;
  width: 68px;
  color: rgb(153, 153, 153) !important;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  margin: 22px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 254px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(191, 121, 92) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 254px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 68px;
  width: 68px;
  background-image: none;
  color: rgb(191, 121, 92) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  margin: 19px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 572px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: none;
  margin: 58px auto 0 45px;
}

.u-section-1 .u-text-11 {
  font-weight: 300;
  text-transform: none;
  margin: 20px 45px 0;
}

.u-section-1 .u-map-1 {
  width: 510px;
  height: 296px;
  margin: 30px auto 0 45px;
}

.u-section-1 .u-image-1 {
  width: 362px;
  height: 396px;
  margin: -396px 79px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 472px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 23px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-map-1 {
    width: 410px;
    margin-left: 23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-map-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 350px;
    margin-right: 0;
  }
}